<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/user**" access="permitAll"/>
        <intercept-url pattern="/dba**" access="hasRole('ADMIN') or hasRole('DBA')"/>
        <access-denied-handler error-page="/WEB-INF/views/jsp/accessdenied.jsp"/>
        <form-login login-page="/login" username-parameter="userID" password-parameter="password"/>
        <csrf/>
        <remember-me remember-me-parameter="remember-me"
                     remember-me-cookie="remember-me"
                     token-validity-seconds="86400"
                     data-source-ref="dataSource"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailService"/>
    </authentication-manager>

    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="url" value="jdbc:mysql://127.0.0.1:3307/springsecuritydemo"/>
        <beans:property name="username" value="root"/>
        <beans:property name="password" value="igdefault"/>
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    </beans:bean>


    <beans:bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="configLocation" value="WEB-INF/hibernate.cfg.xml"/>
        <beans:property name="dataSource" ref="dataSource"/>
    </beans:bean>

    <beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
        <beans:property name="dataSource" ref="dataSource"/>
    </beans:bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <beans:bean id="userDao" class="com.springsecuritydemo.dao.UserDao">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="customUserDetailService" class="com.springsecuritydemo.service.CustomUserDetailService">
        <beans:property name="userDao" ref="userDao"/>
    </beans:bean>

</beans:beans>