<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin**" access="hasRole('ROLE_GRP')"/>
        <intercept-url pattern="/user**" access="hasRole('ROLE_GRP')"/>
        <intercept-url pattern="/dba**" access="hasRole('ADMIN') or hasRole('DBA')"/>
        <access-denied-handler error-page="/WEB-INF/views/jsp/accessdenied.jsp"/>
    </http>


    <ldap-server root="dc=habuma,dc=com"
                 ldif="/WEB-INF/users.ldif" />

    <authentication-manager alias="authenticationManager">
        <ldap-authentication-provider
            user-search-base="ou=people"
            user-search-filter="(uid={0})"
            group-search-base="ou=groups"
            group-search-filter="(member={0})"
            group-role-attribute="cn"
        role-prefix="ROLE_">
            <password-compare password-attribute="userPassword" hash="plaintext"/>
        </ldap-authentication-provider>
    </authentication-manager>



</beans:beans>